services:
  bot:
    build:
      context: ../bot
      dockerfile: ../docker/DOCKERFILE
    platform: linux/amd64
    env_file:
      - ../bot/.env.example
    volumes:
      - ../bot:/app
    ports:
      - "6060:6060"  # Health check
    networks:
      - app-network

networks:
  app-network:
